<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="org.jeecg.modules.ilang.mapper.UserRecordMapper">
    <resultMap id="BaseResultMap" type="org.jeecg.modules.ilang.entity.UserRecord">
        <id column="id" property="id"/>
        <result column="open_id" property="openId"/>
        <result column="song_id" property="songId"/>

        <result column="langdu_id" property="langduId"/>

        <result column="url" property="url"/>
        <result column="record_type" property="recordType"/>
        <result column="create_by" property="createBy"/>
        <result column="create_time" property="createTime"/>
        <result column="update_by" property="updateBy"/>
        <result column="update_time" property="updateTime"/>
        <association property="song" javaType="org.jeecg.modules.ilang.entity.Song">
            <id column="song_id" property="id"/>
            <result column="code" property="code"/>
            <result column="s_name" property="name"/>
            <result column="input_code" property="inputCode"/>
            <result column="word_count" property="wordCount"/>
            <result column="lang_id" property="langId"/>
            <result column="lang_text" property="langText"/>
            <result column="type_id" property="typeId"/>
            <result column="type_text" property="typeText"/>
            <result column="artist_ids" property="artistIds"/>
            <result column="artists_name" property="artistsName"/>
            <result column="am_track" property="amTrack"/>
            <result column="quality" property="quality"/>
            <result column="status" property="status"/>
            <result column="hot" property="hot"/>
            <result column="file_path" property="filePath"/>
            <result column="file_name" property="fileName"/>
            <result column="or_vol" property="orVol"/>
            <result column="ac_vol" property="acVol"/>
            <result column="create_by" property="createBy"/>
            <result column="create_time" property="createTime"/>
            <result column="update_by" property="updateBy"/>
            <result column="update_time" property="updateTime"/>
        </association>
        <association property="langDu" javaType="org.jeecg.modules.ilang.entity.LangDu">
            <id column="langdu_id" property="id"/>
            <result column="ld_name" property="name"/>
            <result column="pinyin" property="pinyin"/>
            <result column="author" property="author"/>
            <result column="recommends" property="recommends"/>
            <result column="cover" property="cover"/>
            <result column="category_id" property="categoryId"/>
            <result column="category_text" property="categoryText"/>
            <result column="bg_pic" property="bgPic"/>
            <result column="bg_music" property="bgMusic"/>
            <result column="read_count" property="readCount"/>
            <result column="status" property="status"/>
            <result column="lyric" property="lyric"/>
            <result column="content" property="content"/>
            <result column="create_by" property="createBy"/>
            <result column="create_time" property="createTime"/>
            <result column="update_by" property="updateBy"/>
            <result column="update_time" property="updateTime"/>
        </association>
    </resultMap>

    <!--auto generated by MybatisCodeHelper on 2020-12-24-->
    <select id="findAllByOpenId" resultMap="BaseResultMap">
        SELECT DISTINCT record.*,
                        langDu.`name` AS ld_name,
                        langDu.id,
                        langDu.pinyin,
                        langDu.author,
                        langDu.recommends,
                        langDu.cover,
                        langDu.category_id,
                        langDu.category_text,
                        langDu.bg_pic,
                        langDu.bg_music,
                        langDu.read_count,
                        langDu.`status`,
                        langDu.lyric,
                        langDu.content,
                        song.id,
                        song.`code`,
                        song.`name`   AS s_name,
                        song.input_code,
                        song.word_count,
                        song.lang_id,
                        song.lang_text,
                        song.type_id,
                        song.type_text,
                        song.artist_ids,
                        song.artists_name,
                        song.am_track,
                        song.quality,
                        song.`status`,
                        song.hot,
                        song.file_path,
                        song.file_name,
                        song.or_vol,
                        song.ac_vol
        FROM ilang_user_record AS record
                     LEFT JOIN
                     ilang_song AS song
                             ON
                                     record.song_id = song.id
                     LEFT JOIN
                     ilang_ld_item AS langDu
                             ON
                                     record.langdu_id = langDu.id
        WHERE record.open_id = #{openId}
        order by record.create_time desc
    </select>

    <select id="getOneById" resultMap="BaseResultMap">
        SELECT DISTINCT record.*,
                        langDu.`name` AS ld_name,
                        langDu.id,
                        langDu.pinyin,
                        langDu.author,
                        langDu.recommends,
                        langDu.cover,
                        langDu.category_id,
                        langDu.category_text,
                        langDu.bg_pic,
                        langDu.bg_music,
                        langDu.read_count,
                        langDu.`status`,
                        langDu.lyric,
                        langDu.content,
                        song.id,
                        song.`code`,
                        song.`name`   AS s_name,
                        song.input_code,
                        song.word_count,
                        song.lang_id,
                        song.lang_text,
                        song.type_id,
                        song.type_text,
                        song.artist_ids,
                        song.artists_name,
                        song.am_track,
                        song.quality,
                        song.`status`,
                        song.hot,
                        song.file_path,
                        song.file_name,
                        song.or_vol,
                        song.ac_vol
        FROM ilang_user_record AS record
                     LEFT JOIN
                     ilang_song AS song
                             ON
                                     record.song_id = song.id
                     LEFT JOIN
                     ilang_ld_item AS langDu
                             ON
                                     record.langdu_id = langDu.id
        WHERE record.id = #{id}
    </select>
</mapper>
